<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="productimg">
                <figure>
                    <img [src]="product.image">
                </figure>
            </div>
            <div class="cartbtns">
                <a
                    href
                    class="btn btn-primary">
                    Add to cart
                </a>
                <a
                    href
                    class="btn btn-primary">
                    Buy now
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="product-details">
                <h3>{{product.name}}</h3>
                <div class="ratingbox">
                    <span class="rating"></span>
                    {{product.rating}}
                </div>
                <div class="price">
                    <span class="price">₹{{product.price}}</span>
                </div>
                <h4>Available offers</h4>
                <ul>
                    <li *ngFor="let off of product.offer">{{off}}</li>
                </ul>
                <h4>Specification</h4>
                <table>
                    <tbody>
                        <tr *ngFor="let spec of product.specification">
                            <td *ngFor="let s of spec">{{s}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
