<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="productimg">
                <figure>
                    <img src="/assets/product-img/product-5.jpeg">
                </figure>
            </div>
            <div class="cartbtns">
                <a
                    href
                    class="btn btn-primary">
                    Add to cart
                </a>
                <a
                    href
                    class="btn btn-primary">
                    Buy now
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="product-details">
                <h3>
                    HEALTHIN -GD phone Smartwatch  (Black Strap regular)
                </h3>
                <div class="ratingbox">
                    <span class="rating"></span>
                    Ratings & 102 Reviews
                </div>
                <div class="price">
                    <span class="price">₹719</span>
                    <span class="oldprice">₹3,881</span>
                </div>
                <h4>Available offers</h4>
                <ul>
                    <li>
                        Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
                    </li>
                    <li>
                        Bank OfferExtra 5% off* with Axis Bank Buzz Credit CardT&C
                    </li>
                    <li>
                        Special PriceGet extra 10% off (price inclusive of discount)T&C
                    </li>
                </ul>
                <h4>Specification</h4>
                <table class="_3ENrHu">
                    <tbody>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Sales Package</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">
                                        1 Smartwatch, 1 USB Cable, 1 Manual Guide
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Model Number</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">H020-D</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Model Name</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">-GD phone</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Dial Color</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">Gold</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Dial Shape</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">Rectangle</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Strap Color</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">Black</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Strap Material</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">Silicone</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Size</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">regular</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Touchscreen</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">Yes</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Water Resistant</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">No</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Usage</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">Watchphone</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Dial Material</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">Stainless Steel</li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Ideal For</td>
                            <td class="_2k4JXJ col col-9-12">
                                <ul>
                                    <li class="_3YhLQA">Unisex</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
